.App {;
  height: 100%;
  background-color: #15c0a3;
  display: flex;
  flex-direction: column;
  font-family: "Calibri", sans-serif;
}

.sideBarNav {
  background-color: #099c8c;
  border-radius: 12px;
}

.currentPageDiv {
  display: flex;
  border-radius: 12px;
  background-color: #96f1e4;
  height: auto;
  width: 100vw;
  margin-right: 22vw;
  margin-left: 2vw
}

.currentPageContainer {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.middleDiv {
  display: flex;
  flex-direction: row;
}

.bottomPageContainer {
  height: 17vh;
}