.sideBarDiv {
    display: flex;
    float: left;
    width: 20vw;
    align-items: center;
}

.sideBarNav {
    width: 20vw;
}

.sideBarDiv ul {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 30px 0px;
}

.sideBarNav li {
    display: flex;
    padding: 0;
    width: auto;
    margin: 10px 20px;
    background-color: #32ddeb;
    border-radius: 5px;
    height: fit-content;
}

.sideBarNav li:hover {
    cursor: pointer;
}